<html>
<head>
<title>BlueBus.com</title>
<link rel="stylesheet" type="text/css" href="global.css">
</head>
<body>
	<table border="0" height="auto" width="850px" align="center">
		<tr height="85px" class="head">
			<td>
				<div  class="hetit">
					SkyCabs.com
				</div>
			</td>		
		</tr>
		<tr height="500px" class="body">
			<td>
				<div class="foov">	
	                <table width=400px height=400px>
	                     <% @newusers.each do |user| %>
	                   <tr>
	                       <td> <%= user.sigml %> </td>
	                       <td> <%= user.sipd %> </td>
	                   </tr>
	                   <% end%>
	                </table>
				</div>		
			</td>		
		</tr>
		<tr height="25px" class="foot">
			<td></td>		
		</tr>
	</table>

</body>
</html>