body{
	margin:0px;
	padding:0px;
}
.head{
	background-color:#ffffff;
}
.hetit{
	width:200px;
	margin:10px auto;
	line-height:10px;
	padding:20px;
	text-align:center;	
	color:#005df5;
	font-size:31px;
	font-family:"Liberation Sans Narrow";
	font-weight:bold;
}
.body{
	margin:0px;
	background-color:#ffffff;
	
}
.foov{
	height:auto;
	width:350px;
	margin:10px auto;
	border:0px solid #ffffff;
}
.foiv{
	height:50px;
	width:250px;
	margin:20px 40px;
	border:0px ;
	font-size:15px;
	padding-left:15px;
	border:1px solid #005df5;
}
.fosv{
	height:50px;
	width:260px;
	margin:20px 40px ;
	background-color:#005df5;
	border:0px;
	text-align:center;	
	color:#ffffff;
	font-size:20px;
	font-family:"Liberation Sans Narrow";
	font-weight:bold;
	cursor:pointer;	
}
.silink{
	height:50px;
	width:330px;
	color:#005df5;
	font-family:"Liberation Sans Narrow";
	text-align:center;
	
}
.siov{
	height:400px;
	width:450px;
	margin:auto;
	border:0px solid #ffffff;
}
.foot{
	background-color:#ffffff;
}
